In [1]:
import pandas as pd

In [6]:
dat = pd.read_csv('apotheken_openstreetmap.csv')
dat.head()

/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (6,21,22,27) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,X,Y,OBJECTID,name,amenity,healthcare,healthcare_speciality,operator,operator_type,contact_phone,...,religion,emergency,rooms,beds,capacity,wheelchair,wikidata,wikipedia,ORIG_FID,GlobalID
0,9.916076,52.163315,3001,Spitzweg-Apotheke,pharmacy,NaN,NaN,Frau Anke Brei,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,yes,NaN,NaN,NaN,cde0cfa0-a0d0-42f8-a9a9-846e08ffed0d
1,9.917201,52.162667,3002,Paracelsus Apotheke,pharmacy,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,yes,NaN,NaN,NaN,7c117c9b-8a53-4aa0-9bf8-89b440f7ba72
2,9.476684,54.781439,3003,Kreuz-Apotheke,pharmacy,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,yes,NaN,NaN,NaN,f9dba47d-7185-4ae8-ade8-b3fc426984d3
3,7.230673,50.578080,3004,Römer Apotheke,pharmacy,pharmacy,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0cfba82d-01b5-4a22-b86e-2b841d49a1c2
4,11.740356,52.020936,3005,Adler,pharmacy,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,736cf28c-8e08-4013-9415-f3f2f29014f6

In [15]:
dat = dat[[i for i in dat.columns.values if i in dat.dropna(axis=1, how='all').columns.values]]

In [16]:
dat.columns

Index(['X', 'Y', 'OBJECTID', 'name', 'amenity', 'healthcare',
       'healthcare_speciality', 'operator', 'operator_type', 'contact_phone',
       'contact_website', 'contact_email', 'contact_fax', 'address_street',
       'address_housenumber', 'address_postcode', 'address_city',
       'address_housename', 'address_suburb', 'address_subdistrict',
       'address_district', 'address_state', 'emergency', 'wheelchair',
       'wikidata', 'wikipedia', 'ORIG_FID', 'GlobalID'],
      dtype='object')

In [13]:
dat['addr'].dropna()

Series([], Name: addr, dtype: float64)

In [18]:
dat.to_csv('apotheken.csv')

In [4]:
data = pd.read_csv('intensiv.csv')

In [5]:
data.head()

    plz  intensivkliniken land    krs
0  1129                 1   SN  14612
1  1307                 2   SN  14612
2  1454                 1   SN  14625
3  1477                 1   SN  14625
4  1558                 1   SN  14627